
body {
 text-align: center;
 border: solid;
 border-radius: 90px;
 background-color: slateblue;
 font-family: trebuchet MS;
}
.menu{
border: solid 10px;
padding-left: 25px;
padding-right: 25px;
padding-bottom: 20px;
text-align: left;

}
.item{
border:solid 10px;
 display:flex;
}
.center{
 text-align:center;
